body {
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.board {
    width: 600px;
    height: 600px;
    background-color: black;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.score-infomation {
    width: 600px;
    height: 50px;
} 
.game-zone {
    width: 600px;
    height: 500px;
    border-top:0.5px solid white;
    overflow:hidden;
    cursor:crosshair; 
}
.life-infomartion {
    width: 600px;
    height: 50px;
    border-top:0.5px solid white;
}
.ship{
    background: url(../img/Ship.png);
    position:absolute;
    width: 20px;
    height: 20px;
}
.centipe-head{
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position:absolute;

}
.head-l{
    background: url(../img/HeadL.png);
}
.head-r{
    background: url(../img/HeadR.png);
}
.centipe-body{
    background: url(../img/Segment.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position:absolute;
}
.mushroom{
    background: url(../img/Mushroom.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position:absolute;
}
.bullet{
    background-color: red;
    width: 2px;
    height: 15px;
    position:absolute;
}
.score{
    height: 50px;
    position:absolute;
    color: white;
    text-align: center;
}